body {
    background-image: url('../images/background2.jpg');
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: large;
    text-align: end;
}
li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
h2{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
p{
   color:rgb(134, 101, 52); 
}
